body {
  padding: 0;
  margin: 0;
  background: #2a3352;
  height: 100vh;
}

.container {
  background: #f8f1e9;
  border: 10px #ef7b54 solid;
  border-radius: 2em;
  border-top: 0;
  padding: 2em 1em;
  margin: 0 auto;
  height: 75%;
  width: 70%;
  display: flex;
  justify-content: center;
}

.app-main {
  margin-top: 3em;
  width: 60%;
  text-align: center;
}
